In [1]:
import pandas as pd
import numpy as np
data = pd.read_excel('2014-2018.xlsx',sheet_name = None,sep=',',header=0,encoding='ANSI') # "data" are all sheets as a dictionary

xls = pd.ExcelFile('2014-2018.xlsx')
xls.sheet_names # see all sheet names

c:\users\user\appdata\local\programs\python\python37\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
c:\users\user\appdata\local\programs\python\python37\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
c:\users\user\appdata\local\programs\python\python37\lib\site-packages\numpy\.libs\libopenblas.TXA6YQSD3GCQQC22GEQ54J2UDCXDXHWN.gfortran-win_amd64.dll
  stacklevel=1)

['現金股利', '每股稅後淨利', '未調整的 股價+報酬率', '股利殖利率']

In [2]:
df_現金股利=data.get('現金股利')
df_現金股利.columns
#df_現金股利= df_現金股利.set_index(['公司'])
df_現金股利.head(5)

,公司,簡稱,盈餘分派_年度,現金股利(元)_盈餘,現金股利(元)_公積,特殊股利(元),現金股利(元),現金股利總額-盈餘(元),現金股利總額-公積(元),現金股利總額-特殊(元),現金股利總額(元)
0,1101,台泥,2014,2.490000,0.0,0.0,2.490000,9193517914,0,0,9193517914
1,1101,台泥,2015,1.330000,0.0,0.0,1.330000,4910593906,0,0,4910593906
2,1101,台泥,2016,1.450000,0.0,0.0,1.450000,5353655010,0,0,5353655010
3,1101,台泥,2017,1.500000,0.0,0.0,1.500000,6360763515,0,0,6360763515
4,1101,台泥,2018,3.305131,0.0,0.0,3.305131,16856366706,0,0,16856366706

In [3]:
#df_現金股利 = pd.DataFrame(df_現金股利,columns=['簡稱', '現金股利(元)_盈餘'])
df_現金股利.head(5)

,公司,簡稱,盈餘分派_年度,現金股利(元)_盈餘,現金股利(元)_公積,特殊股利(元),現金股利(元),現金股利總額-盈餘(元),現金股利總額-公積(元),現金股利總額-特殊(元),現金股利總額(元)
0,1101,台泥,2014,2.490000,0.0,0.0,2.490000,9193517914,0,0,9193517914
1,1101,台泥,2015,1.330000,0.0,0.0,1.330000,4910593906,0,0,4910593906
2,1101,台泥,2016,1.450000,0.0,0.0,1.450000,5353655010,0,0,5353655010
3,1101,台泥,2017,1.500000,0.0,0.0,1.500000,6360763515,0,0,6360763515
4,1101,台泥,2018,3.305131,0.0,0.0,3.305131,16856366706,0,0,16856366706

In [4]:
df_現金股利.groupby(['公司','簡稱']).mean()

,,盈餘分派_年度,現金股利(元)_盈餘,現金股利(元)_公積,特殊股利(元),現金股利(元),現金股利總額-盈餘(元),現金股利總額-公積(元),現金股利總額-特殊(元),現金股利總額(元)
公司,簡稱,,,,,,,,,
1101,台泥,2016.0,2.015026,0.0,0.00000,2.015026,8.534979e+09,0.0,0.0,8.534979e+09
1102,亞泥,2016.0,1.640000,0.0,0.00000,1.640000,5.512773e+09,0.0,0.0,5.512773e+09
1103,嘉泥,2016.0,0.420060,0.0,0.00000,0.420060,3.249307e+08,0.0,0.0,3.249307e+08
1104,環泥,2016.0,1.060000,0.0,0.00000,1.060000,6.756649e+08,0.0,0.0,6.756649e+08
1108,幸福,2016.0,0.410000,0.0,0.00000,0.410000,1.659426e+08,0.0,0.0,1.659426e+08
...,...,...,...,...,...,...,...,...,...,...
911616,杜康-DR,2016.0,0.000000,0.0,0.00000,0.000000,0.000000e+00,0.0,0.0,0.000000e+00
911622,泰聚亨-DR,2016.0,0.000000,0.0,0.00000,0.000000,0.000000e+00,0.0,0.0,0.000000e+00
911868,同方友友-DR,2016.0,0.000000,0.0,0.00000,0.000000,0.000000e+00,0.0,0.0,0.000000e+00
912000,晨訊科-DR,2015.5,0.049648,0.0,0.09575,0.145398,1.733518e+06,0.0,3276263.5,5.009781e+06
912398,友佳-DR,2016.0,0.294068,0.0,0.00000,0.294068,1.200871e+07,0.0,0.0,1.200871e+07

In [5]:
df_現金股利.groupby(['公司','簡稱']).std()

,,盈餘分派_年度,現金股利(元)_盈餘,現金股利(元)_公積,特殊股利(元),現金股利(元),現金股利總額-盈餘(元),現金股利總額-公積(元),現金股利總額-特殊(元),現金股利總額(元)
公司,簡稱,,,,,,,,,
1101,台泥,1.581139,0.857866,0.0,0.0000,0.857866,4.941239e+09,0.0,0.0,4.941239e+09
1102,亞泥,1.581139,0.820366,0.0,0.0000,0.820366,2.757616e+09,0.0,0.0,2.757616e+09
1103,嘉泥,1.581139,0.356345,0.0,0.0000,0.356345,2.748374e+08,0.0,0.0,2.748374e+08
1104,環泥,1.581139,0.089443,0.0,0.0000,0.089443,6.231995e+07,0.0,0.0,6.231995e+07
1108,幸福,1.581139,0.387943,0.0,0.0000,0.387943,1.570154e+08,0.0,0.0,1.570154e+08
...,...,...,...,...,...,...,...,...,...,...
911616,杜康-DR,1.581139,0.000000,0.0,0.0000,0.000000,0.000000e+00,0.0,0.0,0.000000e+00
911622,泰聚亨-DR,1.581139,0.000000,0.0,0.0000,0.000000,0.000000e+00,0.0,0.0,0.000000e+00
911868,同方友友-DR,1.581139,0.000000,0.0,0.0000,0.000000,0.000000e+00,0.0,0.0,0.000000e+00
912000,晨訊科-DR,1.290994,0.060239,0.0,0.1915,0.242410,2.082516e+06,0.0,6552527.0,8.280423e+06
912398,友佳-DR,1.581139,0.247005,0.0,0.0000,0.247005,1.027454e+07,0.0,0.0,1.027454e+07

In [6]:
sharpe=df_現金股利.groupby(['公司','簡稱']).mean()/df_現金股利.groupby(['公司','簡稱']).std()
print(sharpe)

                        盈餘分派_年度  現金股利(元)_盈餘  現金股利(元)_公積  特殊股利(元)    現金股利(元)  \
公司     簡稱
1101   台泥           1275.030353    2.348881         NaN      NaN   2.348881
1102   亞泥           1275.030353    1.999108         NaN      NaN   1.999108
1103   嘉泥           1275.030353    1.178799         NaN      NaN   1.178799
1104   環泥           1275.030353   11.851160         NaN      NaN  11.851160
1108   幸福           1275.030353    1.056855         NaN      NaN   1.056855
...                         ...         ...         ...      ...        ...
911616 杜康-DR        1275.030353         NaN         NaN      NaN        NaN
911622 泰聚亨-DR       1275.030353         NaN         NaN      NaN        NaN
911868 同方友友-DR      1275.030353         NaN         NaN      NaN        NaN
912000 晨訊科-DR       1561.199587    0.824181         NaN      0.5   0.599802
912398 友佳-DR        1275.030353    1.190534         NaN      NaN   1.190534

                    現金股利總額-盈餘(元)  現金股利總額-公積(元)  現金股利總額-特殊(元)  現金股利總額(元)
公司     簡稱
1101   台泥               1.727295           NaN           NaN   1.727295
1102   亞泥               1.999108           NaN           NaN   1.999108
1103   嘉泥               1.182265           NaN           NaN   1.182265
1104   環泥              10.841872           NaN           NaN  10.841872
1108   幸福               1.056855           NaN           NaN   1.056855
...                          ...           ...           ...        ...
911616 杜康-DR                 NaN           NaN           NaN        NaN
911622 泰聚亨-DR                NaN           NaN           NaN        NaN
911868 同方友友-DR               NaN           NaN           NaN        NaN
912000 晨訊科-DR           0.832415           NaN           0.5   0.605015
912398 友佳-DR            1.168783           NaN           NaN   1.168783

[953 rows x 9 columns]

In [7]:
sharpe= pd.DataFrame(sharpe)
sharpe

,,盈餘分派_年度,現金股利(元)_盈餘,現金股利(元)_公積,特殊股利(元),現金股利(元),現金股利總額-盈餘(元),現金股利總額-公積(元),現金股利總額-特殊(元),現金股利總額(元)
公司,簡稱,,,,,,,,,
1101,台泥,1275.030353,2.348881,NaN,NaN,2.348881,1.727295,NaN,NaN,1.727295
1102,亞泥,1275.030353,1.999108,NaN,NaN,1.999108,1.999108,NaN,NaN,1.999108
1103,嘉泥,1275.030353,1.178799,NaN,NaN,1.178799,1.182265,NaN,NaN,1.182265
1104,環泥,1275.030353,11.851160,NaN,NaN,11.851160,10.841872,NaN,NaN,10.841872
1108,幸福,1275.030353,1.056855,NaN,NaN,1.056855,1.056855,NaN,NaN,1.056855
...,...,...,...,...,...,...,...,...,...,...
911616,杜康-DR,1275.030353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
911622,泰聚亨-DR,1275.030353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
911868,同方友友-DR,1275.030353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
912000,晨訊科-DR,1561.199587,0.824181,NaN,0.5,0.599802,0.832415,NaN,0.5,0.605015
912398,友佳-DR,1275.030353,1.190534,NaN,NaN,1.190534,1.168783,NaN,NaN,1.168783

In [8]:
df_股利殖利率=data.get('股利殖利率')
df_股利殖利率 = pd.DataFrame(df_股利殖利率,columns=['證券代碼','年月','簡稱','股利殖利率-TSE'])
df_股利殖利率

        證券代碼      年月           簡稱    股利殖利率-TSE
0       1101  201412  台泥                   5.3
1       1101  201512  台泥                  9.12
2       1101  201612  台泥                  3.78
3       1101  201712  台泥                  3.98
4       1101  201812  台泥                  7.02
...      ...     ...          ...          ...
4597  912398  201412  友佳-DR                  .
4598  912398  201512  友佳-DR                  .
4599  912398  201612  友佳-DR                  .
4600  912398  201712  友佳-DR                  .
4601  912398  201812  友佳-DR                  .

[4602 rows x 4 columns]

In [9]:
df_股利殖利率['股利殖利率-TSE'] = pd.to_numeric(df_股利殖利率['股利殖利率-TSE'],errors='coerce')
filter=(df_股利殖利率['股利殖利率-TSE']>3)
df_股利殖利率[filter]

      證券代碼      年月           簡稱  股利殖利率-TSE
0     1101  201412  台泥                5.30
1     1101  201512  台泥                9.12
2     1101  201612  台泥                3.78
3     1101  201712  台泥                3.98
4     1101  201812  台泥                7.02
...    ...     ...          ...        ...
4544  9946  201612    三發地產            9.43
4545  9946  201712    三發地產            3.92
4546  9946  201812    三發地產           10.84
4552  9958  201412   世紀鋼              7.31
4554  9958  201612   世紀鋼              4.15

[2630 rows x 4 columns]

In [10]:
df_每股稅後淨利=data.get('每股稅後淨利')
df_每股稅後淨利 = pd.DataFrame(df_每股稅後淨利,columns=['公司','簡稱','年/月','每股盈餘'])
df_每股稅後淨利.head(100)

      公司           簡稱     年/月  每股盈餘
0   1101  台泥           201412  2.93
1   1101  台泥           201512  1.56
2   1101  台泥           201612  1.72
3   1101  台泥           201712  2.03
4   1101  台泥           201812  4.37
..   ...          ...     ...   ...
95  1229    聯華投控       201412  2.01
96  1229    聯華投控       201512  1.59
97  1229    聯華投控       201612  2.37
98  1229    聯華投控       201712  3.11
99  1229    聯華投控       201812  2.35

[100 rows x 4 columns]

In [11]:
df_未調整=data.get('未調整的 股價+報酬率')
df_未調整_收= pd.DataFrame(df_未調整,columns=['證券代碼','年月日','簡稱','開盤價','收盤價'])
df_未調整_收

        證券代碼       年月日           簡稱    開盤價    收盤價
0       1101  20140102  台泥           45.95  45.40
1       1101  20140103  台泥           45.10  44.55
2       1101  20140106  台泥           44.95  43.60
3       1101  20140107  台泥           43.80  44.15
4       1101  20140108  台泥           44.20  43.90
...      ...       ...          ...    ...    ...
873374  6112  20181224  聚碩           30.00  29.70
873375  6112  20181225  聚碩           29.55  29.40
873376  6112  20181226  聚碩           29.40  29.90
873377  6112  20181227  聚碩           30.10  30.75
873378  6112  20181228  聚碩           31.40  30.25

[873379 rows x 5 columns]

In [12]:
df_未調整=data.get('未調整的 股價+報酬率')
df_未調整_開= pd.DataFrame(df_未調整,columns=['證券代碼','年月日','簡稱','開盤價'])
df_未調整_開.head(100)

    證券代碼       年月日           簡稱    開盤價
0   1101  20140102  台泥           45.95
1   1101  20140103  台泥           45.10
2   1101  20140106  台泥           44.95
3   1101  20140107  台泥           43.80
4   1101  20140108  台泥           44.20
..   ...       ...          ...    ...
95  1101  20140528  台泥           45.10
96  1101  20140529  台泥           44.55
97  1101  20140530  台泥           44.50
98  1101  20140603  台泥           44.60
99  1101  20140604  台泥           44.15

[100 rows x 4 columns]

In [13]:
df_未調整=data.get('未調整的 股價+報酬率')
df_未調整 = pd.DataFrame(df_未調整,columns=['證券代碼','年月日','簡稱','收-開'])
df_未調整.head(100)

    證券代碼       年月日           簡稱   收-開
0   1101  20140102  台泥          -0.55
1   1101  20140103  台泥          -0.55
2   1101  20140106  台泥          -1.35
3   1101  20140107  台泥           0.35
4   1101  20140108  台泥          -0.30
..   ...       ...          ...   ...
95  1101  20140528  台泥          -0.40
96  1101  20140529  台泥           0.20
97  1101  20140530  台泥           0.10
98  1101  20140603  台泥          -0.25
99  1101  20140604  台泥           0.35

[100 rows x 4 columns]

In [14]:
df_未調整=data.get('未調整的 股價+報酬率')
df_未調整_報酬率 = pd.DataFrame(df_未調整,columns=['證券代碼','年','簡稱','報酬率'])
df_未調整_報酬率.head(100)

    證券代碼     年           簡稱     報酬率
0   1101  2014  台泥          -1.8378
1   1101  2014  台泥          -1.8722
2   1101  2014  台泥          -2.1324
3   1101  2014  台泥           1.2615
4   1101  2014  台泥          -0.5663
..   ...   ...          ...     ...
95  1101  2014  台泥          -0.8869
96  1101  2014  台泥           0.1119
97  1101  2014  台泥          -0.3352
98  1101  2014  台泥          -0.5605
99  1101  2014  台泥           0.3382

[100 rows x 4 columns]

In [15]:
df_未調整_報酬率.groupby(['證券代碼','簡稱','年']).mean()

                            報酬率
證券代碼 簡稱          年
1101 台泥          2014  0.003651
                 2015 -0.151848
                 2016  0.134561
                 2017  0.035944
                 2018  0.058657
...                         ...
6112 聚碩          2014  0.128705
                 2015 -0.095066
                 2016  0.048121
                 2017  0.080354
                 2018  0.073383

[3585 rows x 1 columns]

In [16]:
df_未調整_報酬率.groupby(['證券代碼','簡稱','年']).std()

                            報酬率
證券代碼 簡稱          年
1101 台泥          2014  1.315041
                 2015  1.526482
                 2016  1.752030
                 2017  0.950173
                 2018  1.799271
...                         ...
6112 聚碩          2014  1.055914
                 2015  1.078171
                 2016  0.717096
                 2017  0.588823
                 2018  1.181981

[3585 rows x 1 columns]

In [17]:
報酬率sharpe=df_未調整_報酬率.groupby(['證券代碼','簡稱','年']).mean()/df_未調整_報酬率.groupby(['證券代碼','簡稱','年']).std()
報酬率sharpe= pd.DataFrame(報酬率sharpe)
報酬率sharpe

                            報酬率
證券代碼 簡稱          年
1101 台泥          2014  0.002776
                 2015 -0.099476
                 2016  0.076803
                 2017  0.037829
                 2018  0.032600
...                         ...
6112 聚碩          2014  0.121890
                 2015 -0.088174
                 2016  0.067106
                 2017  0.136466
                 2018  0.062085

[3585 rows x 1 columns]

In [38]:
報酬率sharpe = 報酬率sharpe.pivot_table('報酬率', ['證券代碼', '簡稱'], '年')
報酬率sharpe

年                     2014      2015      2016      2017      2018
證券代碼 簡稱
1101 台泥           0.002776 -0.099476  0.076803  0.037829  0.032600
1102 亞泥           0.035630 -0.089610  0.007652  0.042979  0.053925
1103 嘉泥          -0.018525 -0.108279 -0.029245  0.111616  0.020881
1104 環泥          -0.004646 -0.014028  0.056907  0.007544 -0.085985
1108 幸福           0.080333  0.017738 -0.010123 -0.008496 -0.060937
...                    ...       ...       ...       ...       ...
5907 大洋-KY       -0.006227 -0.088025 -0.034237  0.032815  0.076161
6005 群益證          0.001103  0.010264  0.019294  0.098050 -0.065980
6024 群益期         -0.023781  0.141267  0.117364  0.122806  0.041814
6108 競國           0.091987 -0.120322  0.178589  0.030303  0.003675
6112 聚碩           0.121890 -0.088174  0.067106  0.136466  0.062085

[741 rows x 5 columns]

In [59]:
type(報酬率sharpe[2014][0:1][0])

numpy.float64

In [62]:
報酬率sharpe[報酬率sharpe[2018]>0.165]

年                 2014  2015  2016  2017      2018
證券代碼 簡稱
1341 富林-KY         NaN   NaN   NaN   NaN  0.359819
4766 南寶            NaN   NaN   NaN   NaN  0.257844
5876 上海商銀          NaN   NaN   NaN   NaN  0.191359

In [50]:
type(報酬率sharpe[0:1].values[0][0])

numpy.float64

In [18]:
df_未調整=data.get('未調整的 股價+報酬率')
df_未調整_現金股利率 = pd.DataFrame(df_未調整,columns=['證券代碼','簡稱','年月日','現金股利率'])
df_未調整_現金股利率

        證券代碼           簡稱       年月日 現金股利率
0       1101  台泥           20140102  4.19
1       1101  台泥           20140103  4.26
2       1101  台泥           20140106  4.36
3       1101  台泥           20140107   4.3
4       1101  台泥           20140108  4.33
...      ...          ...       ...   ...
873374  6112  聚碩           20181224  4.59
873375  6112  聚碩           20181225  4.64
873376  6112  聚碩           20181226  4.56
873377  6112  聚碩           20181227  4.43
873378  6112  聚碩           20181228  4.51

[873379 rows x 4 columns]

In [19]:
df_未調整_現金股利率["現金股利率"] = pd.to_numeric(df_未調整["現金股利率"],errors='coerce')
filter=(df_未調整_現金股利率["現金股利率"]>5)
df_未調整_現金股利率[filter]

        證券代碼           簡稱       年月日  現金股利率
81      1101  台泥           20140508   5.03
82      1101  台泥           20140509   5.08
83      1101  台泥           20140512   5.20
84      1101  台泥           20140513   5.23
85      1101  台泥           20140514   5.19
...      ...          ...       ...    ...
872983  6112  聚碩           20170603   5.01
873034  6112  聚碩           20170814   5.14
873035  6112  聚碩           20170815   5.09
873068  6112  聚碩           20170929   5.01
873069  6112  聚碩           20170930   5.01

[236689 rows x 4 columns]

In [20]:
#新增現金股利id
primary_key_現金股利 = []
for i in range(len(df_現金股利['盈餘分派_年度'])) :
    primary_key_現金股利.append(f'{df_現金股利["公司"].values[i]}_{df_現金股利["盈餘分派_年度"].values[i]}')
    #print(df_現金股利.index.values[i],df_現金股利['盈餘分派_年度'].values[i])
df_現金股利['id'] = primary_key_現金股利

#新增每股稅後淨利id再把12月以外的資料刪除
print('df_每股稅後淨利',len(df_每股稅後淨利['公司']))
primary_key_每股稅後淨利 = []
drop_index = []
for i in range(len(df_每股稅後淨利['公司']))   :
    if str(df_每股稅後淨利["年/月"].values[i])[-2:] == '12' :
        primary_key_每股稅後淨利.append(f'{df_每股稅後淨利["公司"].values[i]}_{str(df_每股稅後淨利["年/月"].values[i])[:-2]}')
    else :  
        drop_index.append(i)       
df_每股稅後淨利 = df_每股稅後淨利.drop(df_每股稅後淨利.index[drop_index])
df_每股稅後淨利['id'] = primary_key_每股稅後淨利 

#刪除 df_每股稅後淨利 和 df_現金股利 無id交集的資料
print('droped df_每股稅後淨利',len(df_每股稅後淨利['公司']))   
drop_index = []
for i in df_每股稅後淨利.index :
    if df_每股稅後淨利['id'][i] not in df_現金股利['id'].values  :  
        drop_index.append(i)
df_每股稅後淨利 = df_每股稅後淨利.drop(drop_index)

drop_index = []
for i in df_現金股利.index :
    if df_現金股利['id'][i] not in df_每股稅後淨利['id'].values  :  
        drop_index.append(i)
df_現金股利 = df_現金股利.drop(drop_index)
print('droped df_每股稅後淨利',len(df_每股稅後淨利['id']))   
print('df_每股稅後淨利',len(df_現金股利['id']))

#merge by id 
df_每股稅後淨利 = pd.DataFrame(list(zip(df_每股稅後淨利['id'],df_每股稅後淨利['每股盈餘'])),columns = ['id','每股盈餘'])
df_現金股利 = pd.DataFrame(pd.merge(df_現金股利, df_每股稅後淨利, on=['id']),
    columns=['id','簡稱', '現金股利(元)_盈餘','每股盈餘'])

#df_現金股利['每股盈餘']補0
for i in range(len(df_現金股利['每股盈餘'])) :
    if type(df_現金股利['每股盈餘'][i]) == str :
        print(df_現金股利['每股盈餘'][i])
        df_現金股利['每股盈餘'][i] = int(0)

df_每股稅後淨利 18231
droped df_每股稅後淨利 4755
droped df_每股稅後淨利 4616
df_每股稅後淨利 4616
           .
           .
           .

c:\users\user\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
all_company = list(set(list(df_現金股利['簡稱'])))
盈餘_list = []
每股盈餘_list = []
std_list = []
company_num_list = []
for i in all_company :
    mean = 0
    each_mean = 0 
    c = 0 
    _std_list = []
    for j in range(len(df_現金股利['id'])) :
        if i == df_現金股利['簡稱'][j] :
            company_num_list.append(int(df_現金股利['id'][j][:-5]))
            mean += df_現金股利['現金股利(元)_盈餘'][j]
            each_mean += df_現金股利['每股盈餘'][j]
            c += 1
            _std_list.append(df_現金股利['現金股利(元)_盈餘'][j])
    if c != 0:
        mean /= c
        each_mean /= c
    std_list.append(np.std(np.array(_std_list), ddof = 1))    
    每股盈餘_list.append(each_mean)
    盈餘_list.append(mean)
company_num_list = []
for i in all_company :
    for j in range(len(df_現金股利['id'])) :
        if i == df_現金股利['簡稱'][j] :
            company_num_list.append(int(df_現金股利['id'][j][:-5])) 
            break 
sharp_list = np.array(盈餘_list)/np.array(std_list)
pd_target = pd.DataFrame(list(zip(company_num_list,all_company,盈餘_list,std_list,sharp_list,每股盈餘_list)),
    columns = ['公司','簡稱','盈餘mean','現金股利(元)_盈餘std','現金股利(元)_盈餘sharp','每股盈餘mean'])
pd_target = pd_target.sort_values(by = '公司')     
pd_target

c:\users\user\appdata\local\programs\python\python37\lib\site-packages\numpy\core\_methods.py:217: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
c:\users\user\appdata\local\programs\python\python37\lib\site-packages\numpy\core\_methods.py:209: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
c:\users\user\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:30: RuntimeWarning: divide by zero encountered in true_divide
c:\users\user\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:30: RuntimeWarning: invalid value encountered in true_divide

         公司           簡稱    盈餘mean  現金股利(元)_盈餘std  現金股利(元)_盈餘sharp  每股盈餘mean
537    1101  台泥           2.015026       0.857866         2.348881    2.5220
905    1102  亞泥           1.640000       0.820366         1.999108    2.2140
67     1103  嘉泥           0.420060       0.356345         1.178799    0.5780
59     1104  環泥           1.060000       0.089443        11.851160    2.1880
774    1108  幸福           0.410000       0.387943         1.056855    0.4380
..      ...          ...       ...            ...              ...       ...
856  911616  杜康-DR        0.000000       0.000000              NaN   -1.0640
676  911622   泰聚亨-DR      0.000000       0.000000              NaN   -0.0660
728  911868    同方友友-DR    0.000000       0.000000              NaN   -0.0120
365  912000   晨訊科-DR      0.049648       0.060239         0.824181    0.1125
584  912398  友佳-DR        0.294068       0.247005         1.190534    0.5280

[953 rows x 6 columns]

In [22]:
df_未調整=data.get('未調整的 股價+報酬率')
df_未調整_收= pd.DataFrame(df_未調整,columns=['證券代碼','年月日','簡稱','開盤價','收盤價'])
df_未調整_收['股價日報酬率'] = (df_未調整_收['收盤價']-df_未調整_收['開盤價'])/df_未調整_收['開盤價']
df_未調整_收['年月日'] = df_未調整_收['年月日'].apply(str)
df_未調整_收

        證券代碼       年月日           簡稱    開盤價    收盤價    股價日報酬率
0       1101  20140102  台泥           45.95  45.40 -0.011970
1       1101  20140103  台泥           45.10  44.55 -0.012195
2       1101  20140106  台泥           44.95  43.60 -0.030033
3       1101  20140107  台泥           43.80  44.15  0.007991
4       1101  20140108  台泥           44.20  43.90 -0.006787
...      ...       ...          ...    ...    ...       ...
873374  6112  20181224  聚碩           30.00  29.70 -0.010000
873375  6112  20181225  聚碩           29.55  29.40 -0.005076
873376  6112  20181226  聚碩           29.40  29.90  0.017007
873377  6112  20181227  聚碩           30.10  30.75  0.021595
873378  6112  20181228  聚碩           31.40  30.25 -0.036624

[873379 rows x 6 columns]

In [23]:
def get_mean_stock(stock_num) :
    list_1101 = []
    c_2014 = []
    c_2015 = []
    c_2016 = []
    c_2017 = []
    c_2018 = []
    c_2019 = []
    for i in range(len(df_未調整_收[df_未調整_收['證券代碼'] == stock_num])) :        
        if df_未調整_收[df_未調整_收['證券代碼'] == stock_num]['年月日'].values[i][:4] == '2014' :
            c_2014.append(df_未調整_收[df_未調整_收['證券代碼'] == stock_num]['股價日報酬率'].values[i])
        if df_未調整_收[df_未調整_收['證券代碼'] == stock_num]['年月日'].values[i][:4] == '2015' :
            c_2015.append(df_未調整_收[df_未調整_收['證券代碼'] == stock_num]['股價日報酬率'].values[i])
        if df_未調整_收[df_未調整_收['證券代碼'] == stock_num]['年月日'].values[i][:4] == '2016' :
            c_2016.append(df_未調整_收[df_未調整_收['證券代碼'] == stock_num]['股價日報酬率'].values[i])
        if df_未調整_收[df_未調整_收['證券代碼'] == stock_num]['年月日'].values[i][:4] == '2017' :
            c_2017.append(df_未調整_收[df_未調整_收['證券代碼'] == stock_num]['股價日報酬率'].values[i]) 
        if df_未調整_收[df_未調整_收['證券代碼'] == stock_num]['年月日'].values[i][:4] == '2018' :
            c_2018.append(df_未調整_收[df_未調整_收['證券代碼'] == stock_num]['股價日報酬率'].values[i])
        if df_未調整_收[df_未調整_收['證券代碼'] == stock_num]['年月日'].values[i][:4] == '2019' :
            c_2019.append(df_未調整_收[df_未調整_收['證券代碼'] == stock_num]['股價日報酬率'].values[i]) 
    list_1101.append(1000*np.mean(c_2014))
    list_1101.append(1000*np.mean(c_2015)) 
    list_1101.append(1000*np.mean(c_2016))
    list_1101.append(1000*np.mean(c_2017))
    list_1101.append(1000*np.mean(c_2018))
    list_1101.append(1000*np.mean(c_2019))
    list_1101.append(np.std(c_2014))
    list_1101.append(np.std(c_2015)) 
    list_1101.append(np.std(c_2016))
    list_1101.append(np.std(c_2017))
    list_1101.append(np.std(c_2018))
    list_1101.append(np.std(c_2019))    
    return list_1101

In [27]:
import time
list_mean_2014 = []
list_mean_2015 = []
list_mean_2016 = []
list_mean_2017 = []
list_mean_2018 = []
list_mean_2019 = []
list_std_2014 = []
list_std_2015 = []
list_std_2016 = []
list_std_2017 = []
list_std_2018 = []
list_std_2019 = []
for i in all_簡稱 :
    ticks = time.time()
    _list = get_mean_stock(i)
    print(i,time.time()-ticks)
    list_mean_2014.append(_list[0])
    list_mean_2015.append(_list[1])
    list_mean_2016.append(_list[2])
    list_mean_2017.append(_list[3])
    list_mean_2018.append(_list[4])
    list_mean_2019.append(_list[5])
    list_std_2014.append(_list[6])
    list_std_2015.append(_list[7])
    list_std_2016.append(_list[8])
    list_std_2017.append(_list[9])
    list_std_2018.append(_list[10])
    list_std_2019.append(_list[11])
pd_avg = pd.DataFrame(list(zip(all_簡稱[:5],list_mean_2014,list_mean_2015,list_mean_2016,list_mean_2017,list_mean_2018,list_mean_2019,list_std_2014,list_std_2015,list_std_2016,list_std_2017,list_std_2018,list_std_2019)),
    columns = ['公司','2014_mean','2015_mean','2016_mean','2017_mean','2018_mean','2019_mean','2014_std','2015_std',           '2016_std','2017_std','2018_std','2019_std'])
pd_avg

1101 9.751721620559692
1102 9.38316559791565
1103 9.41321587562561
1104 9.506536960601807
1108 9.477175951004028
1109 9.35773754119873
1110 9.345771789550781
1201 9.284173250198364
1203 9.391578435897827
1210 9.420035123825073
1213 9.44121241569519
1215 9.898276567459106
1216 9.334870338439941
1217 9.304893493652344
1218 9.263331413269043
1219 9.658749103546143
1220 9.491800308227539
1225 9.623735904693604
1227 9.394838333129883
1229 9.104854583740234
1231 9.161864757537842
1232 9.264230728149414
1233 9.177738189697266
1234 9.599348545074463
1235 9.685269355773926
1236 9.355566263198853
1256 9.51542592048645
1301 9.315337181091309
1303 9.292501449584961
1304 9.276392221450806
1305 9.46695852279663
1307 9.579745769500732
1308 9.325098514556885
1309 9.244624376296997
1310 9.607555866241455
1312 9.396318912506104
1313 9.33985185623169
1314 9.349368572235107
1315 9.371087551116943
1316 9.406205177307129
1319 9.39409589767456
1321 9.512776374816895
1323 9.273891687393188
1324 9.361981630325317
1325 9.299330234527588
1326 9.24456238746643
1337 9.53069281578064
1338 9.753905057907104
1339 9.48791217803955
1340 9.19379711151123
1341 0.039017438888549805
1402 9.694581985473633
1409 9.329208612442017
1410 9.66895580291748
1413 9.366297483444214
1414 9.179424047470093
1416 9.230194330215454
1417 10.149822235107422
1418 9.977354764938354
1419 9.91437292098999
1423 11.106447458267212
1432 11.161784887313843
1434 9.902085304260254
1435 9.885419368743896
1436 9.665851593017578
1437 9.790106773376465
1438 9.946055889129639
1439 9.991881370544434
1440 9.891066312789917
1441 9.756603240966797
1442 10.058716058731079
1443 9.688952684402466
1444 9.917687177658081
1445 9.947093963623047
1446 10.313612461090088
1447 10.193970441818237
1449 9.853922367095947
1451 9.847580432891846
1452 9.7140212059021
1453 9.861389636993408
1454 10.000828981399536
1455 9.794850587844849
1456 9.768495798110962
1457 10.13016939163208
1459 9.760395050048828
1460 9.988053798675537
1463 10.172369241714478
1464 10.715688467025757
1465 10.61364483833313
1466 10.185924291610718
1467 10.355753421783447
1468 10.46853232383728
1470 10.279274463653564
1471 10.339778661727905
1472 9.993648767471313
1473 10.008840560913086
1474 9.895965814590454
1475 10.008968114852905
1476 10.073976039886475
1477 10.12430739402771
1503 9.891059637069702
1504 10.56213665008545
1506 9.62627100944519
1507 9.765462398529053
1512 9.980964422225952
1513 9.679250478744507
1514 9.715247392654419
1515 9.582655906677246
1516 11.11351490020752
1517 12.232645034790039
1519 12.013714790344238
1521 12.015448093414307
1522 11.708388090133667
1524 11.864019870758057
1525 11.738414764404297
1526 11.700328350067139
1527 11.721816778182983
1528 11.73015308380127
1529 12.194407224655151
1530 12.613462448120117
1531 12.23441195487976
1532 12.075359582901001
1533 11.74875283241272
1535 11.841265201568604
1536 11.823523044586182
1537 11.723175764083862
1538 11.941388130187988
1539 11.806262016296387
1540 12.085359334945679
1541 12.590071439743042
1558 12.2816641330719
1560 12.200244188308716
1568 10.97493600845337
1582 12.264737606048584
1583 12.24834156036377
1587 1.7529761791229248
1589 12.261165142059326
1590 12.33454942703247
1592 10.108009576797485
1598 5.424853086471558
1603 12.127923488616943
1604 12.641602039337158
1605 12.492719650268555
1608 11.831623315811157
1609 12.007631540298462
1611 11.943002462387085
1612 11.78749942779541
1614 11.851473331451416
1615 11.972716808319092
1616 12.015140533447266
1617 12.239123106002808
1618 13.158711910247803
1626 12.932029962539673
1701 11.9622642993927
1702 12.114350080490112
1707 12.059694766998291
1708 11.875080347061157
1709 12.057945489883423
1710 11.897006750106812
1711 12.220408916473389
1712 12.368216753005981
1713 12.5462486743927
1714 12.717139959335327
1717 11.530284404754639
1718 9.95818567276001
1720 10.19421124458313
1721 10.614716053009033
1722 10.256879806518555
1723 9.82195496559143
1724 10.13593316078186
1725 10.003056287765503
1726 9.952382802963257
1727 10.415261268615723
1730 10.388289213180542
1731 11.224673748016357
1732 10.10707139968872
1733 9.571289777755737
1734 9.832848072052002
1735 9.681838035583496
1736 9.4729642868042
1737 9.289849758148193
1760 1.7278988361358643
1762 9.53775954246521
1773 9.501829385757446
1776 6.41168999671936
1783 12.440147161483765
1786 12.190435409545898
1789 11.899982213973999
1795 12.258463621139526
1802 11.63455843925476
1805 11.734028100967407
1806 11.760290145874023
1808 11.780062675476074
1809 11.806040287017822
1810 12.244707822799683
1817 12.228266716003418
1902 12.287466764450073
1903 11.749302387237549
1904 12.446967124938965
1905 11.812366247177124
1906 11.644957065582275
1907 11.654036521911621
1909 11.682736873626709
2002 11.95661735534668
2006 12.239202499389648
2007 12.367892265319824
2008 12.34654426574707
2009 12.47660756111145
2010 11.901160478591919
2012 12.154157400131226
2013 11.73592495918274
2014 11.74409818649292
2015 11.668760299682617
2017 11.797171115875244
2020 12.22002363204956
2022 12.327535390853882
2023 12.465125560760498
2024 11.8311026096344
2025 10.21010136604309
2027 12.083292245864868
2028 11.903687953948975
2029 11.667231321334839
2030 11.743642091751099
2031 11.933482646942139
2032 12.58530068397522
2033 12.283419132232666
2034 12.22534465789795
2038 12.076825618743896
2049 11.878884553909302
2059 12.114963054656982
2062 12.385757207870483
2069 6.741179466247559
2101 11.969928979873657
2102 11.80411958694458
2103 12.462481260299683
2104 12.966807842254639
2105 12.975738763809204
2106 12.726584196090698
2107 12.32170033454895
2108 12.143993854522705
2109 12.16010570526123
2114 12.268203020095825
2115 12.001055479049683
2201 12.00214171409607
2204 12.792504787445068
2206 12.776962518692017
2207 11.457777738571167
2208 9.978048086166382
2227 10.593335390090942
2228 10.874574184417725
2231 10.057920455932617
2233 10.404358148574829
2236 7.620362997055054
2239 5.695715665817261
2243 2.440479278564453
2301 10.549838781356812
2302 10.894365072250366
2303 10.213128328323364
2305 10.310433149337769
2308 9.940423965454102
2312 9.777506113052368
2313 9.263205289840698
2314 9.425800800323486
2316 9.342049598693848
2317 10.794379711151123
2321 11.792907953262329
2323 12.162983894348145
2324 11.962323904037476
2327 12.199137926101685
2328 12.171438694000244
2329 12.189615249633789
2330 11.890045166015625
2331 11.737442970275879
2332 11.677348375320435
2337 11.722555160522461
2338 11.585397958755493
2340 12.04414415359497
2342 11.742260932922363
2344 12.021127223968506
2345 12.23039722442627
2347 12.032633066177368
2348 11.829171895980835
2349 11.60225510597229
2351 11.755109786987305
2352 11.576042175292969
2353 11.664205312728882
2354 11.584510326385498
2355 11.95451283454895
2356 12.111936330795288
2357 12.147355794906616
2358 12.126007318496704
2359 11.919963359832764
2360 11.62016224861145
2362 11.755588293075562
2363 11.652754545211792
2364 11.617493629455566
2365 11.611165761947632
2367 11.557606220245361
2368 12.469242572784424
2369 12.24199366569519
2371 12.16278338432312
2373 12.12998914718628
2374 11.885005474090576
2375 11.96474838256836
2376 11.899265050888062
2377 11.830069303512573
2379 11.750612258911133
2380 11.743403196334839
2382 12.290393829345703
2383 12.23817229270935
2385 12.164730310440063
2387 12.884894132614136
2388 12.198857545852661
2390 13.162127256393433
2392 12.283142566680908
2393 12.262675523757935
2395 11.798425197601318
2397 11.88613486289978
2399 12.565083026885986
2401 12.557202100753784
2402 12.390368938446045
2404 12.210554599761963
2405 11.988688468933105
2406 11.871638059616089
2408 11.636655807495117
2409 11.563478946685791
2412 11.505412578582764
2413 11.670652389526367
2414 12.325432538986206
2415 12.891751289367676
2417 12.434401988983154
2419 11.83881425857544
2420 11.892142534255981
2421 11.745383739471436
2423 11.55887508392334
2424 11.63684868812561
2425 11.648657321929932
2426 11.715331077575684
2427 12.229222536087036
2428 12.490717649459839
2429 12.364351272583008
2430 11.84581470489502
2431 11.510106086730957
2433 11.77383279800415
2434 11.631282091140747
2436 11.60774040222168
2438 11.464677095413208
2439 11.698593139648438
2440 12.456963777542114
2441 12.456665754318237

2442 12.658952474594116
2443 12.262235403060913
2444 11.671549320220947
2448 11.77192759513855
2449 11.352828025817871
2450 11.27235221862793
2451 11.42250108718872
2453 11.67417311668396
2454 12.166347742080688
2455 12.382386684417725
2456 12.224430561065674
2457 11.284606218338013
2458 10.496932029724121
2459 10.499804496765137
2460 10.506287813186646
2461 10.279608011245728
2462 10.366616010665894
2464 10.582725286483765
2465 10.192748069763184
2466 10.188758850097656
2467 10.686435461044312
2468 10.658500671386719
2471 11.038487195968628
2472 10.928809881210327
2474 10.382214307785034
2476 9.849696159362793
2477 9.687069416046143
2478 9.495640993118286
2480 9.761548280715942
2481 10.277837753295898
2482 10.257613182067871
2483 12.017005205154419
2484 12.412250757217407
2485 12.557018041610718
2486 12.596286535263062
2488 12.729474544525146
2489 12.454783916473389
2491 12.47629976272583
2492 12.34148383140564
2493 12.319492101669312
2495 12.491318225860596
2496 12.681196212768555
2497 12.799245119094849
2498 12.547779083251953
2499 12.111879348754883
2501 12.63729739189148
2504 12.079122066497803
2505 11.92753791809082
2506 11.899566411972046
2509 11.95480728149414
2511 12.491081953048706
2514 12.703577518463135
2515 12.623919010162354
2516 12.509273767471313
2520 12.177944898605347
2524 12.672186851501465
2527 12.094268560409546
2528 12.076525926589966
2530 12.024787187576294
2534 12.002596616744995
2535 12.51794719696045
2536 12.61585283279419
2537 12.506654977798462
2538 12.329589605331421
2539 12.162193298339844
2540 12.510188341140747
2542 12.027277708053589
2543 12.144596576690674
2545 12.145059823989868
2546 12.22147512435913
2547 12.925790548324585
2548 13.196405172348022
2597 13.211714744567871
2601 12.385613679885864
2603 12.443805456161499
2605 12.215522766113281
2606 12.071835994720459
2607 12.250677108764648
2608 12.119317531585693
2609 12.578650712966919
2610 12.68125867843628
2611 12.626692295074463
2612 12.502610921859741
2613 12.081125259399414
2614 12.21665620803833
2615 12.305587530136108
2616 12.424500226974487
2617 12.264079332351685
2618 12.006473541259766
2630 2.1493325233459473
2633 5.373366594314575
2634 11.008459329605103
2636 12.658013105392456
2637 12.73273754119873
2642 12.137748956680298
2701 12.283561706542969
2702 12.380875825881958
2704 12.651813507080078
2705 12.26144790649414
2706 12.099925518035889
2707 12.297937631607056
2712 12.459409952163696
2722 12.646353483200073
2723 12.556060552597046
2727 12.24420166015625
2731 12.358094930648804
2739 6.136952638626099
2748 5.054937839508057
2801 12.069285154342651
2809 12.479788780212402
2812 12.09023404121399
2816 12.582402229309082
2820 12.64478850364685
2823 12.597994565963745
2832 12.271522521972656
2834 12.550419807434082
2836 12.264065980911255
2838 12.399447679519653
2841 12.206413269042969
2845 12.54123592376709
2849 12.043085098266602
2850 12.364723443984985
2851 12.630034446716309
2852 12.856044054031372
2855 12.012153387069702
2867 12.267259359359741
2880 11.889580249786377
2881 12.057730913162231
2882 12.110229730606079
2883 12.349664449691772
2884 12.353607416152954
2885 12.768848896026611
2886 12.743505239486694
2887 12.741156578063965
2888 12.150645732879639
2889 10.455962419509888
2890 10.388131618499756
2891 10.641890048980713
2892 10.09071969985962
2897 3.347050905227661
2901 10.48119068145752
2903 10.189177513122559
2904 10.338332414627075
2905 10.272075653076172
2906 10.315394401550293
2908 10.005415678024292
2910 9.844650983810425
2911 10.520875930786133
2912 10.927781105041504
2913 10.39654016494751
2915 10.026193857192993
2923 9.956725120544434
2929 9.502120018005371
2936 4.332361698150635
2939 1.8943634033203125
3002 10.073382377624512
3003 9.904977321624756
3004 11.972481727600098
3005 12.371264934539795
3006 11.956755876541138
3008 12.540253639221191
3010 12.415707349777222
3011 12.123122453689575
3013 12.194317102432251
3014 12.199019193649292
3015 12.751368522644043
3016 12.65036678314209
3017 12.697051048278809
3018 12.433034420013428
3019 12.240396976470947
3021 12.184321880340576
3022 12.232906818389893
3023 12.245354652404785
3024 12.193902254104614
3025 12.401038408279419
3026 12.712235689163208
3027 13.034937381744385
3028 12.59431791305542
3029 12.197555303573608
3030 12.362437963485718
3031 12.36462688446045
3032 12.311480045318604
3033 12.503429651260376
3034 12.130342483520508
3035 12.372025489807129
3036 12.8171226978302
3037 13.173619508743286
3038 12.449121952056885
3040 12.071963548660278
3041 12.241819620132446
3042 12.181719779968262
3043 12.427110195159912
3044 12.466851711273193
3045 12.231389284133911
3046 13.016445636749268
3047 12.816002607345581
3048 13.115800857543945
3049 12.502171754837036
3050 12.44668960571289
3051 12.438123941421509
3052 12.415056467056274
3054 12.838141679763794
3055 12.712590217590332
3056 13.18329644203186
3057 13.386955976486206
3058 13.061949014663696
3059 13.146639823913574
3060 12.347043991088867
3062 12.609754800796509
3090 12.618147611618042
3094 12.573181867599487
3130 12.436246156692505
3149 12.325969219207764
3164 10.495527744293213
3167 10.764516592025757
3189 11.021565198898315
3209 11.163360118865967
3229 10.159430742263794
3231 10.207865238189697
3257 9.92368459701538
3266 10.003407716751099
3296 10.213839769363403
3305 10.064592838287354
3308 10.181046485900879
3311 10.277081727981567
3312 10.378336668014526
3321 6.557626724243164
3338 10.114960193634033
3346 4.177251815795898
3356 9.955673694610596
3376 10.347463607788086
3380 9.937553882598877
3383 10.119588851928711
3406 9.971045732498169
3413 7.031109809875488
3416 10.011267900466919
3419 9.79184889793396
3432 9.709079504013062
3437 8.751572847366333
3443 9.672141313552856
3450 9.631277561187744
3454 9.72200870513916
3481 9.607312679290771
3494 10.399686098098755
3501 11.933814525604248
3504 11.889289617538452
3515 11.84292984008789
3518 11.960166215896606
3528 12.109276294708252
3530 1.1755824089050293
3532 12.552963733673096
3533 12.747315645217896
3535 12.823304891586304
3536 12.133187055587769
3545 12.796566009521484
3550 12.052298545837402
3557 12.093946933746338
3563 12.234620094299316
3576 12.159612894058228
3583 12.375698566436768
3588 12.571871042251587
3591 12.572350263595581
3593 12.48140001296997
3596 11.990605354309082
3605 12.36393427848816
3607 12.713145732879639
3617 12.152597188949585
3622 11.847234725952148
3645 11.944933414459229
3653 12.369857788085938
3661 10.451702117919922
3665 12.608514547348022
3669 12.49488115310669
3673 11.95992636680603
3679 12.20451307296753
3682 12.535614967346191
3686 12.279056549072266
3694 12.478960275650024
3698 12.399658918380737
3701 11.713535785675049
3702 12.792179346084595
3703 12.465198993682861
3704 12.194104433059692
3705 12.067226886749268
3706 12.31024718284607
3708 5.642105340957642
3711 1.6569771766662598
3712 0.6348447799682617
4104 12.467780828475952
4106 12.033253908157349
4108 11.827975034713745
4119 12.532072305679321
4133 12.837173461914062
4137 12.641143798828125
4141 12.67118501663208
4142 11.982351779937744
4144 12.068662166595459
4148 3.695438861846924
4155 2.489818811416626
4164 12.31861662864685
4190 8.000821590423584
4306 12.220552682876587
4414 12.17683458328247
4426 13.02716326713562
4438 5.660769939422607
4526 12.47162413597107
4532 12.60069990158081
4536 12.061865329742432
4540 0.9327306747436523
4545 7.256482362747192
4551 8.2930006980896
4552 5.802331447601318
4555 7.657836675643921
4557 8.092175722122192
4560 4.125448942184448
4562 3.439767837524414
4566 2.229883909225464
4720 12.420576810836792
4722 12.35750412940979
4725 12.440988063812256
4737 12.43279767036438
4739 12.368101119995117
4746 12.175775051116943
4755 12.32874608039856
4763 7.629240989685059
4764 2.3834264278411865
4766 0.22940611839294434
4807 3.6957836151123047
4904 12.11637282371521
4906 12.381811380386353
4912 12.408073663711548
4915 12.90385103225708
4916 12.829259157180786
4919 12.782450914382935
4927 11.935270309448242
4930 12.394184350967407
4934 12.198107719421387
4935 12.302091598510742
4938 12.061171531677246
4942 12.391288757324219
4943 5.086776971817017
4952 12.54126262664795
4956 12.642523527145386
4958 12.577935695648193
4960 12.4345223903656
4961 0.5281801223754883

4968 7.66230583190918
4976 12.44276762008667
4977 12.249746561050415
4989 1.25162672996521
4994 11.91731333732605
4999 11.772068500518799
5007 12.262000322341919
5203 12.641642808914185
5215 12.58699917793274
5225 12.56367015838623
5234 12.334872722625732
5243 12.305039405822754
5258 4.786973714828491
5264 12.128917694091797
5269 12.186423301696777
5284 10.214759826660156
5285 11.805460929870605
5288 10.965553045272827
5305 12.960606575012207
5388 12.665700674057007
5434 12.443428039550781
5469 12.19525408744812
5471 13.24496841430664
5484 12.385144472122192
5515 12.17774248123169
5519 11.950007200241089
5521 11.94035530090332
5522 12.538705110549927
5525 12.62039041519165
5531 12.468697786331177
5533 12.438220024108887
5534 11.936220645904541
5538 12.43241548538208
5607 12.371021747589111
5608 12.356880903244019
5706 12.347800970077515
5871 10.155974388122559
5876 0.4308488368988037
5880 10.294504642486572
5906 9.997275352478027
5907 9.777394533157349
6005 10.029043197631836
6024 9.342053890228271
6108 9.394059658050537
6112 9.489624977111816

,公司,2014_mean,2015_mean,2016_mean,2017_mean,2018_mean,2019_mean,2014_std,2015_std,2016_std,2017_std,2018_std,2019_std
0,1101,-0.474649,-2.048432,1.267249,0.432472,-0.218842,NaN,0.011933,0.013444,0.015596,0.008532,0.014758,NaN
1,1102,0.058963,-0.835691,0.196083,0.538458,0.090762,NaN,0.009721,0.010672,0.014737,0.009730,0.016495,NaN
2,1103,-0.134219,0.116340,0.601907,0.556598,-0.074119,NaN,0.007483,0.014305,0.010288,0.015369,0.015124,NaN
3,1104,-0.357262,-1.256538,-1.113658,-0.267861,-1.145749,NaN,0.013212,0.015958,0.011228,0.007044,0.005540,NaN
4,1108,0.538406,-0.823758,-0.585595,-0.462122,0.793248,NaN,0.012884,0.012612,0.005257,0.006792,0.008430,NaN

In [33]:
pd_avg = pd.DataFrame(list(zip(all_簡稱,list_mean_2014,list_mean_2015,list_mean_2016,list_mean_2017,list_mean_2018,list_mean_2019,list_std_2014,list_std_2015,list_std_2016,list_std_2017,list_std_2018,list_std_2019)),
    columns = ['公司','2014_mean','2015_mean','2016_mean','2017_mean','2018_mean','2019_mean','2014_std','2015_std',           '2016_std','2017_std','2018_std','2019_std'])

In [34]:
pd_avg.to_csv('0215.csv')

In [210]:
np.mean(df_未調整_收[:1471]['股價日報酬率'][:248])

-0.0004746487658532019

In [209]:
df_未調整_收[df_未調整_收['證券代碼'] == 1101][:248]

     證券代碼       年月日           簡稱    開盤價    收盤價    股價日報酬率
0    1101  20140102  台泥           45.95  45.40 -0.011970
1    1101  20140103  台泥           45.10  44.55 -0.012195
2    1101  20140106  台泥           44.95  43.60 -0.030033
3    1101  20140107  台泥           43.80  44.15  0.007991
4    1101  20140108  台泥           44.20  43.90 -0.006787
..    ...       ...          ...    ...    ...       ...
243  1101  20141226  台泥           43.10  43.00 -0.002320
244  1101  20141227  台泥           43.00  42.95 -0.001163
245  1101  20141229  台泥           43.00  43.40  0.009302
246  1101  20141230  台泥           43.50  43.55  0.001149
247  1101  20141231  台泥           43.45  43.40 -0.001151

[248 rows x 6 columns]

In [181]:
for i in all_簡稱[:5] :
    print(i)

1101
1102
1103
1104
1108

In [25]:
all_簡稱 = sorted(list(set(df_未調整_收['證券代碼'])))
len(all_簡稱)

741

In [30]:
pd_target

         公司           簡稱    盈餘mean  現金股利(元)_盈餘std  現金股利(元)_盈餘sharp  每股盈餘mean
537    1101  台泥           2.015026       0.857866         2.348881    2.5220
905    1102  亞泥           1.640000       0.820366         1.999108    2.2140
67     1103  嘉泥           0.420060       0.356345         1.178799    0.5780
59     1104  環泥           1.060000       0.089443        11.851160    2.1880
774    1108  幸福           0.410000       0.387943         1.056855    0.4380
..      ...          ...       ...            ...              ...       ...
856  911616  杜康-DR        0.000000       0.000000              NaN   -1.0640
676  911622   泰聚亨-DR      0.000000       0.000000              NaN   -0.0660
728  911868    同方友友-DR    0.000000       0.000000              NaN   -0.0120
365  912000   晨訊科-DR      0.049648       0.060239         0.824181    0.1125
584  912398  友佳-DR        0.294068       0.247005         1.190534    0.5280

[953 rows x 6 columns]